@use 'base';
@use 'custom-style';
.list-style-none {
  list-style-type: none;
}
.codyapp,
.codyapp--dark {
  min-height: 100vh;
}
.codyapp--dark {
  background-color: var(--color-primary-darker);
  color: var(--color-white);
}
